
<h1 class="display-1 text-center ">BOOK MANTAINANCE</h1>
<a href="/book/book-add" class="btn btn-success mb-3">New Book</a>

{{#if IsEmpty}}
    <h1 class="text-center">There is no books</h1>
{{else}}
    <div class="row">
        {{#each books}}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                        <img src="{{coverImgPath}}" alt="{{title}}" class="card-img-top img-responsive">
                    <div class="card-body">
                         <h5 class="card-title text-center text-primary">{{this.title}}</h5>
                         <h5 class="card-title text-center text-primary">{{this.publicationYear}}</h5>
                     <div class="d-flex justify-content-between">
                        <p class="card-text text-muted"><strong>Author:</strong> {{this.Author.dataValues.name}}</p>
                        <p class="card-text  text-muted"><strong>Editorial:</strong> {{this.Editorial.dataValues.name}}</p> 
                        <p class="card-text  text-muted"><strong>Category:</strong> {{this.Category.dataValues.name}}</p> 
                      </div>
                    </div>
                    <div class="card-footer text-center">
                        <form action="/book/book-delete" style="display: inline;" method="POST" onsubmit="return confirm('You sure you want to delete the book?');">
                            <input type="hidden" name="id" value="{{this.id}}"/>
                            <button type="submit" class="btn btn-danger me-2">Delete</button>
                        </form>
                        <a href="/book/book-edit/{{this.id}}" class="btn btn-info">Edit</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}