<a href="/book/book-index" class="btn btn-info mt-5 mb-2">
    <i class="bi bi-arrow-left">Go Back</i> 
</a>

<div class="card shadow-lg border-0 mb-5" style="max-width: 600px; margin: auto;">
    <img src="{{book.coverImgPath}}" alt="{{book.title}}" class="card-img-top rounded-top">

    <div class="card-body text-center">
        <h3 class="card-title text-primary mb-1">{{book.title}}</h3>
        <h5 class="text-secondary">{{book.publicationYear}}</h5>
    </div>

    <div class="card-footer text-start bg-light px-4">
        <p class="card-text text-muted mb-1">
            <strong>Author:</strong> {{book.Author.dataValues.name}}
        </p>
        <p class="card-text text-muted mb-1">
            <strong>Editorial:</strong> {{book.Editorial.dataValues.name}}
        </p>
         <p class="card-text text-muted mb-1">
            <strong>Editorial Country:</strong> {{book.Editorial.dataValues.country}}
        </p>
         <p class="card-text text-muted mb-1">
            <strong>Editorial Phone:</strong> {{book.Editorial.dataValues.phone}}
        </p>
        <p class="card-text text-muted">
            <strong>Category:</strong> {{book.Category.dataValues.name}}
        </p>
    </div>
</div>